<html>

<head>
  <title>Vue Basic</title>
  <link rel="stylesheet" href="bulma.css">
  <link rel="stylesheet" href="style.css">
  <script src="vue.min.js"></script>
</head>

<body>

  <div id="app" class="content container ve-app">
    <h1>
      <b>Vue</b> Examples</h1>

    <div id="hello">
      <h3>{{ text }}</h3>
      <input type="text" class="input" v-model="text">
      <input type="button" value="Reset" @click="text = 'Hello Vue'" class="button is-primary">
    </div>
    <script>
      new Vue({
        el: '#hello',
        data: {
          text: 'Hello Vue'
        }
      })
    </script>

    <div id="animation">
      <label>Size</label>
      <input class="input is-inline" type="number" v-model="size">
      <br>
      <label>Color</label>
      <input class="input is-inline" type="text" v-model="color">
      <br>
      <label>Duration</label>
      <input class="input is-inline" type="number" v-model="duration">
      <br>
      <div class="ve-ball" :style="ballStyle"></div>
    </div>
    <script>
      new Vue({
        el: '#animation',
        data: {
          color: '#bada55',
          size: 100,
          duration: 1
        },
        computed: {
          ballStyle: function () {
            return {
              'width': this.size + 'px',
              'height': this.size + 'px',
              'background-color': this.color,
              'animation-duration': this.duration + 's'
            }
          }
        }
      })
    </script>

    <div id="reactivity">
      <input class="input is-inline" type="text" v-model="name" placeholder="Nombre">
      <input class="input is-inline" type="text" v-model="surname" placeholder="Apellido">
      <br>
      <label>Include Surname</label>
      <input type="checkbox" v-model="includeSurname">
      <h3>{{ fullName }}</h3>
    </div>
    <script>
      new Vue({
        el: '#reactivity',
        data: {
          name: '',
          surname: '',
          includeSurname: true
        },
        computed: {
          fullName: function() {
            console.log('Calculating fullName')
            if (this.includeSurname) {
              return this.name + ' '  + this.surname
            } else {
              return this.name
            }
          }
        }
      })
    </script>

  </div>

</body>

</html>