.ve-app {
    padding-top: 50px;
    margin: 0 20px;
}

#app > div {
    padding: 20px;
    border: 3px dashed lightgray;
    margin-bottom: 20px;
}

@keyframes bounce {
    0% {
        transform: translate3d(0%, 0, 0);
    }
    50% {
        transform: translate3d(300%, 0, 0);
    }
    100% {
        transform: translate3d(0%, 0, 0);
    }
}

.ve-ball {
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 50%;
    background-color: lightgrey;
    animation-name: bounce;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}